<p>Notes</p>
<%= form_tag ("/notes/create") do %>
  <%= text_field_tag (:content) %>
  <%= submit_tag("create") %>
<%end%>
<ul>
  <% if @notes.size>0%>
    <% @notes.each do |note| %>
      <li><a href="/notes/<%= note.id %>">
         <%= note.content %> </a>
      </li>
    <%end%>
  <% else %>
    <p>No notes to display</p>
  <%end%>
</ul>
